/*Global*/

body {
	background-image: url("http://wallpapercave.com/wp/CyT83yY.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.center {
    margin-left:auto; 
    margin-right:auto;
	text-align: center;
}
#navbar {
	background-color: white;