---
layout: default
title: "Science for Nourishment"
---
<div class="header-wrap">
    <header class="containerHead header">
        <div class="row">
            <div class="col-md-12">
                <div class="coverpost logo-text" style="background-image: url('/assets/background.jpg')">
                    <br><br><br><h1>Science for Nourishment</h1><br>
                    <h2 class="hidden-xs hidden-sm">Kefir</h2>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <section class="col-md-8 posts" itemscope itemtype="http://schema.org/Blog">
                {% for post in paginator.posts %}
                <article class="post object" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                    <meta itemprop="name" content="{{post.title}}"/>
                    <meta itemprop="image" content="{{post.image}}"/>
                    <div class="post-header">
                        <div class="post-title">
                            <h2 itemprop="headline"><a href="{{post.url}}">{{post.title}}</a></h2>
                        </div>
                        <div class="post-date hidden-sm hidden-xs">
                            <span title="{{post.date | date:"%Y" }}">{{post.date | date:"%d"}}</span>{{post.date | date:"%b"}}
                        </div>
                    </div>
                    <div class="post-content">
                        <p itemprop="description">{{post.excerpt | strip_html}}...</p>
                        <a href="{{post.url}}" class="btn btn-success">Continuar leyendo</a>
                    </div>
                    <hr />
                    <div class="post-meta">
                        Fecha: <span itemprop="datePublished">{{post.date| date_to_string}}</span><br />
                        <div class="share-icons">
                            Comparte en Redes Sociales:
                            <ul class="list-inline list-share-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{post.url}}"
                                       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook fb-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{post.title}}&amp;url={{ site.url }}{{post.url}}"
                                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter tw-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ site.url }}{{post.url}}"
                                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus gp-tooltip"></i></a>
                                </li>
                            </ul>
                        </div>
                        <hr class="divider" />
                    </div>
                    {% endfor %}
            </section>
            <div class="col-md-4">
                <div class="about">
                    <p>
                        -- Descripcion --
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fb-like-box" data-href="https://www.facebook.com/sciencefornourishment/" data-width="280" data-height="320"
    data-colorscheme="light" data-show-faces="true" data-header="true"
    data-stream="false" data-show-border="true"></div>
    <hr class="divider">
<div class="posts-pagination">
    <div class="container">
        <div class="row">
            {% if paginator.next_page %}
            <div class="col-md-4 newer-posts">
                <a href="{{ paginator.next_page_path }}" class="previous">
                    <i class="fa fa-chevron-left"></i>
                    <span>Art&iacute;culos anteriores</span>
                </a>
            </div>
            {% endif %}
            <div class="col-md-4 page-num">
                <span>P&aacute;gina  {{ paginator.page }} de {{ paginator.total_pages }}</span>
            </div>
            {% if paginator.previous_page %}
            <div class="col-md-4 older-posts">
                <a href="{{ paginator.previous_page_path }}" class="next">
                    <span>Art&iacute;culos nuevos</span>
                    <i class