<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3938357594478752",
    enable_page_level_ads: true
    });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">
    <title>{{page.title}} - Science for Nourishment</title>
    {% seo title=false %}
    <meta name="HandheldFriendly" content="True" />
    <meta name="theme-color" content="#ec9611">
    <meta name="msapplication-navbutton-color" content="#ec9611">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ec9611">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet" type="text/css" > 
    <link href='//fonts.googleapis.com/css?family=Courgette|Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation" id="main-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tnavbar">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="tnavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/" title="Home" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-home"></span> Inicio</a>
                    </li>
                  <!--  <li>
                        <a href="/products" title="Productos" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-cutlery"></span> Productos</a>
                    </li> -->
                    <li>
                        <a href="/about" title="¿Quienes somos?" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-info-sign"></span> ¿Quiénes Somos?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p><a href="https://sciencefornourishment.github.io/">Science for Nourishment</a> &copy; 2017<br/> Powered
                        by <a href="http://github.com" data-proofer-ignore title="GitHub Pages"><i class="fa fa-github-alt"></i></a>                        with <i class="fa fa-heart"></i> </p>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline list-footer-social">
                        <li><a href="https://www.facebook.com/sciencefornourishment/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ScienceNourish" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/science_for_nourishment/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>